[submodule "third_party/printf"]
	path = third_party/printf
	url = https://github.com/mpaland/printf.git
[submodule "third_party/nxdk"]
	path = third_party/nxdk
	url = https://github.com/abaire/nxdk.git

[submodule "third_party/fpng"]
	path = third_party/fpng
	url = https://github.com/richgel999/fpng
[submodule "third_party/xbox_math3d"]
	path = third_party/xbox_math3d
	url = https://github.com/abaire/xbox_math3d.git
[submodule "third_party/tiny-json"]
	path = third_party/tiny-json
	url = https://github.com/rafagafe/tiny-json.git
