#ifndef NXDK_PGRAPH_TESTS_{{ suite_name_snake|upper }}_TESTS_H
#define NXDK_PGRAPH_TESTS_{{ suite_name_snake|upper }}_TESTS_H

#include "test_suite.h"


class {{ class_name }} : public TestSuite {
 public:
  {{ class_name }}(TestHost &host, std::string output_dir, const Config &config);

  void Initialize() override;

 private:
  void Test();
};

#endif  // NXDK_PGRAPH_TESTS_{{ suite_name_snake|upper }}_TESTS_H
